/*
=============================
  _____                      |
 |  __ \                     |
 | |__) |_ _  __ _  ___      |
 |  ___/ _` |/ _` |/ _ \     |
 | |  | (_| | (_| |  __/     |
 |_|   \__,_|\__, |\___|     |
              __/ |          |
             |___/           |
=============================
*/

h1
{
    font-size: 150%;
}
* 
{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body 
{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 300%;
    background: url('../documents/images/wallpaper.jpg') left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
a{
    text-decoration: underline;
    color: white;
    font-weight: bolder;
}
.content
{
    margin-left: 25%;
    margin-right: 5%;
    color: rgb(255, 255, 255);
}

/*
=========================================================================
                     _ _ _____           _ _           _                 |
                    | | |_   _|         | (_)         | |                |
  ___  ___ _ __ ___ | | | | |  _ __   __| |_  ___ __ _| |_ ___  _ __     |
 / __|/ __| '__/ _ \| | | | | | '_ \ / _` | |/ __/ _` | __/ _ \| '__|    |
 \__ \ (__| | | (_) | | |_| |_| | | | (_| | | (_| (_| | || (_) | |       |
 |___/\___|_|  \___/|_|_|_____|_| |_|\__,_|_|\___\__,_|\__\___/|_|       |
                                                                         |
=========================================================================                                                           
*/

.scroll-indicator
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10px;
    transform-origin: left;
    transform: scaleX(0);
    background: linear-gradient(to right, #feba3a, #fc3434);
    transition: transform 0.2s ease-out;
}

/*
=====================================================  
                    ____                             |
                   |  _ \                            |
  _ __   __ ___   _| |_) | __ _ _ __ _ __ ___        |
 | '_ \ / _` \ \ / /  _ < / _` | '__| '__/ _ \       |
 | | | | (_| |\ V /| |_) | (_| | |  | | |  __/       |
 |_| |_|\__,_| \_/ |____/ \__,_|_|  |_|  \___|       |
                                                     |
=====================================================                                          
*/

nav 
{
    position: fixed;
    width: 90px;
    height: 100%;
    text-align: center;
    overflow: hidden;
    background: rgba(255, 255, 255, .06);
    box-shadow: 0 8px 32px rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 1px solid rgba(255, 255, 255, .15);
    transition: .4s;
}

nav:hover {
    width: 300px;
}

nav .nav-list-top,
nav .nav-list-bottom {
    position: absolute;
    width: 100%;
}

nav .nav-list-top {
    top: 32%;
}

nav .nav-list-bottom {
    bottom: 0;
}

nav .nav-brand img {
    width: 50px;
    border-radius: 50%;
    margin-top: 15px;
    transition: .4s;
}

nav:hover .nav-brand img {
    width: 120px;
    margin-top: 30px;
}

nav .nav-brand .info 
{
    text-align: center;
    pointer-events: none;
    opacity: 0;
}

nav:hover .nav-brand .info 
{
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}

nav .nav-brand h2 
{
    color: #ffffff;
    font-size: 30px;
}

nav .nav-brand p 
{
    color: #f1f1f1;
    font-size: 14px;
}

nav .nav-item 
{
    cursor: pointer;
    padding: 0 25px;
    height: 80px;
    line-height: 80px;
    text-align: left;
    transition: .4s;
}

nav .nav-item:hover 
{
    background: rgba(255, 255, 255, .1);
}

nav .nav-item i 
{
    margin: 0 6px;
    font-size: 26px;
    color: #dddddd;
    transform: translateY(5px);
    transition: .4s;
}

nav:hover .nav-item i 
{
    color: #f4c402;
}

nav .nav-item span 
{
    color: #ffffff;
    font-size: 18px;
    pointer-events: none;
    opacity: 0;
}

nav:hover .nav-item span 
{
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}
ul a
{
    text-decoration: none;
}

/*
===========================================
   _____      _           _                |
  / ____|    | |         | |               |
 | (___   ___| | ___  ___| |_ ___  _ __    |
  \___ \ / _ \ |/ _ \/ __| __/ _ \| '__|   |
  ____) |  __/ |  __/ (__| || (_) | |      |
 |_____/ \___|_|\___|\___|\__\___/|_|      |
                                           |
===========================================
*/

.content h1::selection{
    background-color: #ffa600ce;
}
.content::selection{
    background-color: #ffa600ce;
}
.content a::selection{
    background-color: #fdbd46ce;
}
.content ul li::selection{
    background-color: #ffa600ce;
}

/*
=============================
   _____ _    _ _ _          |
  / ____| |  (_) | |         |
 | (___ | | ___| | |___      |
  \___ \| |/ / | | / __|     |
  ____) |   <| | | \__ \     |
 |_____/|_|\_\_|_|_|___/     |
                             |
=============================
*/

.skills {
    padding: 50px;
    border-radius: 18px;
    box-shadow: 5px 5px 9px #090909,
                -5px -5px 9px #252525;
}

.skills .section-header {
    margin: 0 0 80px;
}

.skills .section-header h1 {
    color: #fff;
    font-size: 38px;
    font-weight: 800;
}

.skills .section-header hr {
    width: 25%;
    height: 5px;
    background: #ffff;
    border-radius: 3px;
    margin-top: 12px;
}

.progress {
    position: relative;
    width: 380px;
    height: 30px;
    margin: 70px 0 0;
    border-radius: 20px;
    background: #d8d8d8;
}

.progress span {
    position: absolute;
    top: -32px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.progress .progress-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.progress:nth-child(2) .progress-bar {
    background: linear-gradient(90deg, #77d6cb, #0093e9);
}

.progress:nth-child(3) .progress-bar {
    background: linear-gradient(90deg, #ff9e81, #fa5a8f);
}

.progress:nth-child(4) .progress-bar {
    background: linear-gradient(90deg, #59cf55, #16a085);
}

.progress:nth-child(5) .progress-bar {
    background: linear-gradient(90deg, #b355cf, #a01694);
}

.progress:nth-child(6) .progress-bar {
    background: linear-gradient(90deg, #5598cf, #1646a0);
}